@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.propos-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

}
.pageordre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapses {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}
/*fleche dans les sections*/
.arrow-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
}

.section-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-title p {
    font-family: 'Montserrat';
    color: #ff6060;
}
@media (max-width: 768px) {  /* a modif sibesoin */
    .about-title {
        font-size: 24px; 
        margin-top: 20px; 
    }
    
    .about-text {
        font-size: 16px; 
        padding: 10px; 
    }
    .propos-image {
        display: block;        
        align-items: center;
        height: auto;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
    
    }
        
    }
    
    