header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    margin-top: 45px;
 
}
.logo img {
    height: 60px;
    width: auto;
}
nav ul {
    list-style-type: none;
    padding-right: 40px;
    display: flex;
    gap: 20px;
}
nav li {
    display:inline;
}
nav a {
    text-decoration: none;
    color: #ff6060;
    transition: color 0.3s ease;
    
}
.lien-actif {
    text-decoration: underline;
    
    color: #ff6060; 
  
}
@media (max-width: 768px) {  /* a modif sibesoin */
    
    .logo img {
        height: 35px;
        
    }
    header {
             
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        margin-top: 20px;
        width: 100%;
        padding: 0px 0px 20px 0px;
     
    }
    nav ul {
        
        padding-right: 20px;
        
    }
    }

   