@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700&display=swap');

.carrousel {
    width: 100%;
    position: relative;
    height: 315px;
    object-fit: cover;
    
}

.fleche-gauche {
    position: absolute;
    left: 10px;
    top: 40%;
}

.fleche-droite {
    position: absolute;
    right: 10px;
    top: 40%;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carrousel span {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 50%;
    

}
